/* 사용 할 수 있는 폰트 목록 */
/*
font-family:'Nanum Gothic', sans-serif;
font-family:'Nanum Square', sans-serif;
font-family: 'Nanum Barun Gothic', sans-serif;


font-family: 'Noto Sans SC', sans-serif;
font-family: 'Noto Sans KR', sans-serif;

font-family:'MS-Gothic';font-family: 'RIXMJEB';

font-family: 'Titillium Web', sans-serif;
font-family: font-family: 'Raleway', sans-serif;
*/
/* 사용 할 수 있는 폰트 목록 */


* {
	font-family: 'Nanum Gothic', sans-serif;
	font-weight: 400;
}
strong, b {
    font-weight: bold;
}
.strong {
    font-weight: bold;
}

html, body {
	width: 100%;
	height: 100%;
	background: #ebeff2;
}
input {
    -webkit-appearance: none;
    -safari-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
}
input::-ms-clear {
	display: none;
}

input[type=checkbox], input[type=radio] { border:none !important } 

button {
    -webkit-appearance: none;
    -safari-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
}
.b0 {
	border: 0 !important;
}

.bS {
	box-sizing: border-box;
}
.cP {
	cursor: pointer;
}

.w50 {
	width: 50%;
}

.w100 {
	width: 100%;
}
.wh100 {
	width: 100%;
	height: auto;
}

.clearfix:before {
	content: "";
	clear: both;
	display: block;
}
.clearfix:after {
	content: "";
	clear: both;
	display: block;
}

.fl {
	float: left;
}
.fr {
	float: right;
}

.txtalgin_l {
	text-align: left !important;
}
.txtalgin_r {
	text-align: right !important;
}
.txtalgin_c {
	text-align: center !important;
}

.iB {
	display: inline-block;
}

.f0 {
	font-size: 0 !important;
}
.f12 {
	font-size: 12px !important;
}
.f13 {
	font-size: 13px !important;
}
.f16 {
	font-size: 16px !important;
}
.f18 {
	font-size: 18px !important;
}
.f20 {
	font-size: 20px !important;
}

.pr {
	display: block;
	position: relative;
}

.prNb {
	position: relative;
}

.pt0 {padding-top: 0px !important;}
.pt5 {padding-top: 5px !important;}
.pt10 {padding-top: 10px !important;}
.pt15 {padding-top: 15px !important;}
.pt20 {padding-top: 20px !important;}
.pt25 {padding-top: 25px !important;}
.pt30 {padding-top: 30px !important;}
.pt35 {padding-top: 35px !important;}
.pt40 {padding-top: 40px !important;}
.pt45 {padding-top: 45px !important;}
.pt50 {padding-top: 50px !important;}
.pt55 {padding-top: 55px !important;}
.pt60 {padding-top: 60px !important;}
.pt65 {padding-top: 65px !important;}
.pt70 {padding-top: 70px !important;}
.pt75 {padding-top: 75px !important;}
.pt80 {padding-top: 80px !important;}
.pt85 {padding-top: 85px !important;}
.pt90 {padding-top: 90px !important;}
.pt95 {padding-top: 95px !important;}
.pt100 {padding-top: 100px !important;}
.pt105 {padding-top: 105px !important;}
.pt110 {padding-top: 110px !important;}
.pt115 {padding-top: 115px !important;}
.pt120 {padding-top: 120px !important;}

.pb0 {padding-bottom: 0px !important;}
.pb5 {padding-bottom: 5px !important;}
.pb10 {padding-bottom: 10px !important;}
.pb15 {padding-bottom: 15px !important;}
.pb20 {padding-bottom: 20px !important;}
.pb25 {padding-bottom: 25px !important;}
.pb30 {padding-bottom: 30px !important;}
.pb35 {padding-bottom: 35px !important;}
.pb40 {padding-bottom: 40px !important;}
.pb45 {padding-bottom: 45px !important;}
.pb50 {padding-bottom: 50px !important;}
.pb55 {padding-bottom: 55px !important;}
.pb60 {padding-bottom: 60px !important;}
.pb65 {padding-bottom: 65px !important;}
.pb70 {padding-bottom: 70px !important;}
.pb75 {padding-bottom: 75px !important;}
.pb80 {padding-bottom: 80px !important;}
.pb85 {padding-bottom: 85px !important;}
.pb90 {padding-bottom: 90px !important;}
.pb95 {padding-bottom: 95px !important;}
.pb100 {padding-bottom: 100px !important;}
.pb105 {padding-bottom: 105px !important;}
.pb110 {padding-bottom: 110px !important;}
.pb115 {padding-bottom: 115px !important;}
.pb120 {padding-bottom: 120px !important;}

.pl0 {padding-left: 0px !important;}
.pl5 {padding-left: 5px !important;}
.pl10 {padding-left: 10px !important;}
.pl15 {padding-left: 15px !important;}
.pl20 {padding-left: 20px !important;}
.pl25 {padding-left: 25px !important;}
.pl30 {padding-left: 30px !important;}
.pl35 {padding-left: 35px !important;}
.pl40 {padding-left: 40px !important;}
.pl45 {padding-left: 45px !important;}
.pl50 {padding-left: 50px !important;}
.pl55 {padding-left: 55px !important;}
.pl60 {padding-left: 60px !important;}
.pl65 {padding-left: 65px !important;}
.pl70 {padding-left: 70px !important;}
.pl75 {padding-left: 75px !important;}
.pl80 {padding-left: 80px !important;}
.pl85 {padding-left: 85px !important;}
.pl90 {padding-left: 90px !important;}
.pl95 {padding-left: 95px !important;}
.pl100 {padding-left: 100px !important;}
.pl105 {padding-left: 105px !important;}
.pl110 {padding-left: 110px !important;}
.pl115 {padding-left: 115px !important;}
.pl120 {padding-left: 120px !important;}


.pr0 {padding-right: 0px !important;}
.pr5 {padding-right: 5px !important;}
.pr10 {padding-right: 10px !important;}
.pr15 {padding-right: 15px !important;}
.pr20 {padding-right: 20px !important;}
.pr25 {padding-right: 25px !important;}
.pr30 {padding-right: 30px !important;}
.pr35 {padding-right: 35px !important;}
.pr40 {padding-right: 40px !important;}
.pr45 {padding-right: 45px !important;}
.pr50 {padding-right: 50px !important;}
.pr55 {padding-right: 55px !important;}
.pr60 {padding-right: 60px !important;}
.pr65 {padding-right: 65px !important;}
.pr70 {padding-right: 70px !important;}
.pr75 {padding-right: 75px !important;}
.pr80 {padding-right: 80px !important;}
.pr85 {padding-right: 85px !important;}
.pr90 {padding-right: 90px !important;}
.pr95 {padding-right: 95px !important;}
.pr100 {padding-right: 100px !important;}
.pr105 {padding-right: 105px !important;}
.pr110 {padding-right: 110px !important;}
.pr115 {padding-right: 115px !important;}
.pr120 {padding-right: 120px !important;}


.mt0 {margin-top: 0px !important;}
.mt5 {margin-top: 5px !important;}
.mt10 {margin-top: 10px !important;}
.mt15 {margin-top: 15px !important;}
.mt20 {margin-top: 20px !important;}
.mt25 {margin-top: 25px !important;}
.mt30 {margin-top: 30px !important;}
.mt35 {margin-top: 35px !important;}
.mt40 {margin-top: 40px !important;}
.mt45 {margin-top: 45px !important;}
.mt50 {margin-top: 50px !important;}
.mt55 {margin-top: 55px !important;}
.mt60 {margin-top: 60px !important;}
.mt65 {margin-top: 65px !important;}
.mt70 {margin-top: 70px !important;}
.mt75 {margin-top: 75px !important;}
.mt80 {margin-top: 80px !important;}
.mt85 {margin-top: 85px !important;}
.mt90 {margin-top: 90px !important;}
.mt95 {margin-top: 95px !important;}
.mt100 {margin-top: 100px !important;}
.mt105 {margin-top: 105px !important;}
.mt110 {margin-top: 110px !important;}
.mt115 {margin-top: 115px !important;}
.mt120 {margin-top: 120px !important;}
.mt130 {margin-top: 130px !important;}
.mt140 {margin-top: 140px !important;}
.mt150 {margin-top: 150px !important;}

.mb0 {margin-bottom: 0px !important;}
.mb5 {margin-bottom: 5px !important;}
.mb10 {margin-bottom: 10px !important;}
.mb15 {margin-bottom: 15px !important;}
.mb20 {margin-bottom: 20px !important;}
.mb25 {margin-bottom: 25px !important;}
.mb30 {margin-bottom: 30px !important;}
.mb35 {margin-bottom: 35px !important;}
.mb40 {margin-bottom: 40px !important;}
.mb45 {margin-bottom: 45px !important;}
.mb50 {margin-bottom: 50px !important;}
.mb55 {margin-bottom: 55px !important;}
.mb60 {margin-bottom: 60px !important;}
.mb65 {margin-bottom: 65px !important;}
.mb70 {margin-bottom: 70px !important;}
.mb75 {margin-bottom: 75px !important;}
.mb80 {margin-bottom: 80px !important;}
.mb85 {margin-bottom: 85px !important;}
.mb90 {margin-bottom: 90px !important;}
.mb95 {margin-bottom: 95px !important;}
.mb100 {margin-bottom: 100px !important;}
.mb105 {margin-bottom: 105px !important;}
.mb110 {margin-bottom: 110px !important;}
.mb115 {margin-bottom: 115px !important;}
.mb120 {margin-bottom: 120px !important;}
.mb130 {margin-bottom: 130px !important;}
.mb140 {margin-bottom: 140px !important;}
.mb150 {margin-bottom: 150px !important;}

.ml0 {margin-left: 0px !important;}
.ml5 {margin-left: 5px !important;}
.ml10 {margin-left: 10px !important;}
.ml15 {margin-left: 15px !important;}
.ml20 {margin-left: 20px !important;}
.ml25 {margin-left: 25px !important;}
.ml30 {margin-left: 30px !important;}
.ml35 {margin-left: 35px !important;}
.ml40 {margin-left: 40px !important;}
.ml45 {margin-left: 45px !important;}
.ml50 {margin-left: 50px !important;}
.ml55 {margin-left: 55px !important;}
.ml60 {margin-left: 60px !important;}
.ml65 {margin-left: 65px !important;}
.ml70 {margin-left: 70px !important;}
.ml75 {margin-left: 75px !important;}
.ml80 {margin-left: 80px !important;}
.ml85 {margin-left: 85px !important;}
.ml90 {margin-left: 90px !important;}
.ml95 {margin-left: 95px !important;}
.ml100 {margin-left: 100px !important;}
.ml105 {margin-left: 105px !important;}
.ml110 {margin-left: 110px !important;}
.ml115 {margin-left: 115px !important;}
.ml120 {margin-left: 120px !important;}
.ml130 {margin-left: 130px !important;}
.ml140 {margin-left: 140px !important;}
.ml150 {margin-left: 150px !important;}


.mr0 {margin-right: 0px !important;}
.mr5 {margin-right: 5px !important;}
.mr10 {margin-right: 10px !important;}
.mr15 {margin-right: 15px !important;}
.mr20 {margin-right: 20px !important;}
.mr25 {margin-right: 25px !important;}
.mr30 {margin-right: 30px !important;}
.mr35 {margin-right: 35px !important;}
.mr40 {margin-right: 40px !important;}
.mr45 {margin-right: 45px !important;}
.mr50 {margin-right: 50px !important;}
.mr55 {margin-right: 55px !important;}
.mr60 {margin-right: 60px !important;}
.mr65 {margin-right: 65px !important;}
.mr70 {margin-right: 70px !important;}
.mr75 {margin-right: 75px !important;}
.mr80 {margin-right: 80px !important;}
.mr85 {margin-right: 85px !important;}
.mr90 {margin-right: 90px !important;}
.mr95 {margin-right: 95px !important;}
.mr100 {margin-right: 100px !important;}
.mr105 {margin-right: 105px !important;}
.mr110 {margin-right: 110px !important;}
.mr115 {margin-right: 115px !important;}
.mr120 {margin-right: 120px !important;}
.mr130 {margin-right: 130px !important;}
.mr140 {margin-right: 140px !important;}
.mr150 {margin-right: 150px !important;}

span {
	vertical-align: middle;
	display: inline-block;
}
a {
	vertical-align: middle;
}

img {
	vertical-align: middle;
}

/* span {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
} */

/* 헤더 */

#container {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	margin: 0 auto;
}

#container:before {
	content: "";
	position: relative;
	display: block;
	width: 100%;
	height: 162px
}

header {
	position: fixed;
	display: block;
	width: 100%;
	min-width: 1400px;
	height: auto;
	background-color: #23427e;
	z-index: 100;
	top: 0;
}

#headerDiv01 {
	position: relative;
	display: block;
	width: 1400px;
	height: 30px;
	background-color: #23427e;
	margin: 0 auto;
	overflow-y: hidden;
}


.headerDiv01_s01 {
	float: left;
	position: relative;
	/* color: rgba(255,255,255,0.6); */
	color: rgba(255,255,255,1);
	font-size: 11px;
	font-family: '돋움', sans-serif;
	line-height: 30px;
	margin-right: 10px;
}


.headerDiv01_s02 {
	float: left;
	position: relative;
	/* color: rgba(255,255,255,0.6); */
	color: rgba(255,255,255,1);
	font-size: 11px;
	font-family: '돋움', sans-serif;
	line-height: 30px;
	font-weight: 600;
}

.headerDiv01_bar {
	float: left;
	display: block;
	content: "";
	position: relative;
	width: 1px;
	height: 10px;
	background: rgba(255,255,255,0.32);
	margin: 10px 16px;
}

.headerDiv01_bar2 {
	float: left;
	display: block;
	content: "";
	position: relative;
	width: 1px;
	height: 10px;
	background: rgba(255,255,255,0.32);
	margin: 10px 14px;
}

.headerDiv01_s03 {
	float: left;
	position: relative;
	color: #fff;
	font-weight: 700;
	font-size: 11px;
	font-family: '돋움', sans-serif;
	line-height: 30px;
	cursor: pointer;
}

.headerDiv01_s03>img.appDownBt {
	vertical-align: middle;
	width: 10px;
	height: 11px;
	padding-left: 2px;
	padding-bottom: 1px;
}

span.cartCount {
	color: #ffdf87;
	font-size: 11px;
	font-weight: 800;
	letter-spacing: -0.5px;	
}

#headerDiv02 {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	background-color: #fff;
	box-sizing: border-box;
	border-bottom: 1px solid #dedede;
}

#headerDiv02>.inner {
	position: relative;
	display: block;
	width: 1400px;
	height: 80px;
	margin: 0 auto;
	background-color: #fff;
	box-sizing: border-box;
}

#mainLogo {
	position:absolute;
	z-index: 10;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: block;
	width: 178px;
	height: 40px;
}

#mainLogo>a {
	position: relative;
	z-index: 10;
	display: block;
	width: 178px;
	height: 40px;
}

#mainLogo>a>span {
	position: relative;
	z-index: 10;
	display: block;
	width: 100%;
	height: 100%;
	background: url('/images/common/logo.png') no-repeat center center;
}

.searchBar {
	position: relative;
	display: block;
	width: 310px;
	height: 43px;
	background: #f4f5f7;
	box-sizing: border-box;
	border-radius: 20px;
	margin: 17px 0;
	z-index: 1;
}

.searchBar>input {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	background: transparent;
	border: 0;
	padding: 5px 20px;
	font-family: 'Nanum Barun Gothic', sans-serif;
	font-size: 14px;
	z-index: 1;
}


.searchBar>input::placeholder {
	color: #b1b1b3;
	font-size: 14px;
}
.searchBar>input::-webkit-input-placeholder {
	color: #b1b1b3;
	font-size: 14px;
}
.searchBar>input:-ms-input-placeholder {
	color: #b1b1b3;
	font-size: 14px;
}

button.searchGo {
	cursor: pointer;
	padding: 0;
	margin: 0;
	position: absolute;
	display: block;
	width: 45px;
	height: 43px;
	top: 0;
	right: 0;
	z-index: 2;
	background: url(/images/common/search.png)no-repeat center center;
	border: 0;
	font-size: 0;
}



#mainNav {
	float: left;
	position: relative;
}

#mainNav *{
	font-family:'Nanum Square', sans-serif;
}
#mainNav>.innerBar {
	position: relative;
	height: 79px;
}

#mainNav>.innerBar>span.navS {
	position: relative;
	float: left;
	padding: 29px 0 30px 0;
	cursor: pointer;
	overflow-x: hidden;
}

#mainNav>.innerBar>span.navS>span.icS {
	float: left;
	width: 24px;
	height: 22px;
	vertical-align: middle;
	margin-right: 6px;
}

#mainNav>.innerBar>span.navS>span.icS.icS01 {
	background: url(/images/common/nav_ic01.png)no-repeat center center;
}
#mainNav>.innerBar>span.navS>span.icS.icS02 {
	background: url(/images/common/nav_ic02.png)no-repeat center center;
}
#mainNav>.innerBar>span.navS>span.icS.icS03 {
	background: url(/images/common/nav_ic03.png)no-repeat center center;
}


#mainNav>.innerBar>span.navS:hover>span.icS.icS01 {
	background: url(/images/common/nav_ic01_active.png)no-repeat center center;
}
#mainNav>.innerBar>span.navS:hover>span.icS.icS02 {
	background: url(/images/common/nav_ic02_active.png)no-repeat center center;
}
#mainNav>.innerBar>span.navS:hover>span.icS.icS03 {
	background: url(/images/common/nav_ic03_active.png)no-repeat center center;
}

#mainNav>.innerBar>span.navS.nActive>span.icS.icS01 {
	background: url(/images/common/nav_ic01_active.png)no-repeat center center;
}
#mainNav>.innerBar>span.navS.nActive>span.icS.icS02 {
	background: url(/images/common/nav_ic02_active.png)no-repeat center center;
}
#mainNav>.innerBar>span.navS.nActive>span.icS.icS03 {
	background: url(/images/common/nav_ic03_active.png)no-repeat center center;
}



#mainNav>.innerBar>span.navS>span.txt {
	float: left;
	vertical-align: middle;
	font-size: 22px;
	font-size: 20px;
	font-weight: 800;
	color: #333
}

#mainNav>.innerBar>span.navS.nActive>span.txt {
	color: #6da8f6;
}

#mainNav>.innerBar>span.navS:hover>span.txt {
	color: #6da8f6;
}

.navS+.navS {
	margin-left: 33px;
	margin-left: 30px;
}

.tP {
	display: none;
}

.nActive .tP {
	position: absolute;
	z-index: 2;
	bottom: 0;
	right: 50%;
	left: 50%;
	width: 21px;
	height: 12px;
	display: block;
	background: url(/images/common/nav_ic00.png)no-repeat center center;
}



#headerDiv03 {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	background-color: #fff;
	box-sizing: border-box;
	border-bottom: 1px solid #dedede;
	box-shadow: 0px 3px 20px -3px rgba(225,225,225,0.7);
	-ms-box-shadow: 0px 3px 20px -3px rgba(225,225,225,0.7);
	-webkit-box-shadow: 0px 3px 20px -3px rgba(225,225,225,0.7);
	-o-box-shadow: 0px 3px 20px -3px rgba(225,225,225,0.7);
	-moz-box-shadow: 0px 3px 20px -3px rgba(225,225,225,0.7);
}

#headerDiv03 * {
	font-family:'Nanum Gothic', sans-serif;
}

#headerDiv03>.inner01 {
	position: relative;
	display: block;
	width: 1400px;
	height: auto;
	margin: 0 auto;
	background-color: #fff;
	box-sizing: border-box;
}

#headerDiv03>.inner01 .navSub {
	float: left;
	position: relative;
	display: block;
	width: 1045px;
	height: 50px;
	font-size: 0;
}

#headerDiv03>.inner01 .navSub.navSub210427 {z-index: 2; position: absolute; top: 0; background: #fff; display: ;};}
#headerDiv03>.inner01 .navSub.navSub210427.view {display:block;}


#headerDiv03>.inner01 .navSub>li {
	float: left;
	position: relative;
	display: block;
	height: 100%;
	line-height: 50px;
	color: #111;
	font-size: 15px;
	font-weight: 700;
	cursor: pointer;
}



#headerDiv03>.inner01 .navSub>li>span {
	display: none;
}

#headerDiv03>.inner01 .navSub>li:hover>span {
	display: block;
	position: absolute;
	z-index: 2;
	bottom: 0;
	background: #3686e7;
	width: 100%;
	height: 3px;
}

#headerDiv03>.inner01 .navSub>li.bActive>span {
	display: block;
	position: absolute;
	z-index: 2;
	bottom: 0;
	background: #3686e7;
	width: 100%;
	height: 3px;	
}

.navSub_li+.navSub_li {
	margin-left: 33px;
}




#headerDiv03>.inner01 .navSub2 {
	float: left;
	position: relative;
	display: block;
	width: 355px;
	height: 50px;
	font-size: 0;
	text-align: right;
}

#headerDiv03>.inner01 .navSub2>li {
	height: 50px;
	line-height: 50px;
	/* float: left; */
	font-size: 14px;
	display: inline-block;
	vertical-align: middle;
}

#headerDiv03>.inner01 .navSub2>li>span.member {
	height: 50px;
	line-height: 50px;
	float: left;
	font-size: 14px;
	cursor: pointer;
	letter-spacing: -0.5px;
}

#headerDiv03>.inner01 .navSub2>li>span.dot {
	display: block;
	padding: 0 11px;
	height: 100%;
	background: url(/images/common/dot.png)no-repeat center center;
}


#headerDiv03>.inner01 .navSub2>li:last-child {
	/* margin-left: 36px; */
	margin-left: 17px;
}

#headerDiv03>.inner01 .navSub2>li>span.wBt {
	position: relative;
	display: block;
	width: 103px;
	height: 28px;
	float: left;
	font-size: 14px;
	cursor: pointer;
	background: url(/images/common/wBt.png)no-repeat center center;
	line-height: 28px;
	box-sizing: border-box;
	padding-left: 45px;
	padding-right: 18px;
	color: #fff;
	font-weight: 500;
	font-family: 'Nanum Barun Gothic', sans-serif;
	margin: 11px 0;
	text-align: center;
}
/* no_profile_img.png */

.navSub2 .member_Img {
	position: relative;
	display: inline-block;
	width: 34px;
	height: 34px;
	box-sizing: border-box;
	border-radius: 100%;
	background: url(/images/common/no_profile_img.png)no-repeat center center;
	background-size: 100%;
	cursor: pointer;
	overflow: hidden;
}
.navSub2 .member_Img img {
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	width: 100%;
	height: auto;
	z-index: 1;
}
.navSub2 .top_arrow_btn {
	position: relative;
	display: inline-block;
	width: 23px;
	height: 34px;
	box-sizing: border-box;
	background: url(/images/common/top_arrow.png)no-repeat center center;
	cursor: pointer;
}

/* 헤더 끝  */



/* 푸터 */

footer {
	position: relative; 
	display: block;
	width: 100%;
	min-width: 1400px;
	height: auto;
	background: #fff;
}

footer h3 {
	color: #fbfbfb;
	font-size: 14px;
	/* font-family:'Nanum Square', sans-serif; */
	font-family:'Nanum Gothic', sans-serif;
	font-weight: 700;
}

#footerTop {
	position: relative;
	width: 100%;
	height: 71px ;
	background: #fff;
	border-top: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
	box-sizing: border-box;
	margin-bottom: 2px;
}

#footerTop>.inner {
	position: relative;
	display: block;
	width: 1400px;
	height: 75px;
	box-sizing: border-box;
	margin: 0 auto;
}

#footerTop>.inner>.notice_latest {
	position: relative;
	display: block;
	width: 410px;
	height: 71px;
	float: left;
	background: #fff;
	font-family:'Nanum Gothic', sans-serif;
}

#footerTop>.inner>.notice_latest>li.n00 {
	float: left;
	font-family:'Nanum Square', sans-serif;
	font-weight: 700;
	font-size: 14px;
	width: 90px;
	height: 71px;
	line-height: 71px;
}

#footerTop>.inner>.notice_latest>li.n01 {
	float: left;
	font-weight: 700;
	font-size: 14px;
	width: 320px;
	height: 71px;
	line-height: 71px;
	text-overflow:ellipsis;
	white-space:nowrap;
	word-wrap:normal;
	overflow:hidden;
	cursor:pointer;
}
#footerTop>.inner>.notice_latest>li.n01:hover {
	text-decoration: underline;
}

#footerTop>.inner>.notice_latest>li.n01>span {
	color: #5990e3;
	height: 71px;
	line-height: 71px;
	font-weight: 700;
	vertical-align: top;
	margin-right: 5px;
}

#footerTop>.inner>.qna_latest {
	position: relative;
	display: block;
	width: 410px;
	height: 71px;
	float: left;
	background: #fff;
	font-family:'Nanum Gothic', sans-serif;
}

#footerTop>.inner>.qna_latest>li.q00 {
	float: left;
	font-family:'Nanum Square', sans-serif;
	font-weight: 700;
	font-size: 14px;
	width: 90px;
	height: 71px;
	line-height: 71px;	
}

#footerTop>.inner>.qna_latest>li.q01 {
	float: left;
	font-weight: 700;
	font-size: 14px;
	width: 320px;
	height: 71px;
	line-height: 71px;
	text-overflow:ellipsis;
	white-space:nowrap;
	word-wrap:normal;
	overflow:hidden;
	cursor:pointer;
}

#footerTop>.inner>.qna_latest>li.q01:hover {
	text-decoration: underline;
}

#footerTop>.inner>.qna_latest>li.q01>span {
	color: #5990e3;
	height: 71px;
	line-height: 71px;
	font-weight: 700;
	vertical-align: top;
	margin-right: 5px;
}


#footerTop>.inner>ul {
	margin-right: 80px;
}
#footerTop>.inner>ul:last-child {
	margin-right: 0;
}


#footerMain {
	position: relative;
	width: 100%;
	height: auto;
	min-height: 100px;
	background: #2b2c2e;
	box-sizing: border-box;
	margin: 0 auto;
	/* padding: 0 260px; */
}


#footerMain>.inner {
	width: 1400px;
	height: auto;
	margin: 0 auto;
}


ul.footInfo {
	width: 510px;
	height: auto;
	margin-top: 42px;
	margin-bottom: 50px;
	margin-right: 54px;
}


ul.footInfo>li {
	position: relative;
	display: block;
	width: 100%;
}

ul.footInfo>li {
	position: relative;
	display: block;
	width: 100%;
	font-size: 0;
}


ul.footInfo>li.first {
	background: url(/images/common/dot2.png)repeat-x center center;
}
ul.footInfo>li.first>span {
	position: relative;
	display: block;
	width: 135px;
	background: #2b2c2e;
}

ul.footInfo>li.linkList {
	position: relative;
	display: block;
	width: 100%;
	font-family:'Nanum Square', sans-serif;
}

ul.footInfo>li.linkList a{
	color: #bebebe;
	font-weight: 500;
	font-size :13px;
}

ul.footInfo>li.linkList span{
	color: #bebebe;
	font-weight: 500;
	font-size :13px;
	margin: 0 10px;
}

ul.footInfo>li.siteInfo {
	margin-bottom: 10px;
}

ul.footInfo>li.siteInfo:last-child {
	margin-bottom: 0;
}

ul.footInfo>li.siteInfo>span{
	font-size: 13px;
	font-family:'Nanum Square', sans-serif;
	font-weight: 500;
	color: #bebebe;
}






ul.footContact {
	width: 495px;
	height: auto;
	margin-top: 42px;
	margin-bottom: 50px;
	position: relative;
	z-index: 0;
}

ul.footContact>li {
    position: relative;
    display: block;
    width: 100%;
    font-size: 0;
}

ul.footContact>li.first {
	background: url(/images/common/dot2.png)repeat-x center center;
}

ul.footContact>li.first>span.span01 {
    position: relative;
    display: block;
    width: 97px;
    background: #2b2c2e;
}

ul.footContact>li.first>span.span02 {
    position: absolute;
	z-index: 2;
    display: block;
    width: 143px;
    background: #2b2c2e;
	font-size: 0;
	text-align: right;
	
	top: -7px;
	right: 0;
	/* transform: translate(-50%,-50%); */
}

ul.footContact>li.first>span.span02>a.span02_ic {
    position: relative;
    display: inline-block;
	font-size: 0;
	width: 28px;
	height: 28px;
}
.span02_ic+.span02_ic {
	margin-left: 7px;
}
/*인스타그램*/
.span02_ic01 {background: url(/images/common/foot_ic01.png)no-repeat center center;}
/*페이스북*/
.span02_ic02 {background: url(/images/common/foot_ic02.png)no-repeat center center;}
/*유튜브*/
.span02_ic03 {background: url(/images/common/foot_ic03.png)no-repeat center center;}
/*카카오*/
.span02_ic04 {background: url(/images/common/foot_ic04.png)no-repeat center center;}
/*네이버블로그*/
.span02_ic05 {background: url(/images/common/foot_ic05.png)no-repeat center center;}

ul.footContact>li.linkList {
	position: relative;
	display: block;
	width: 100%;
	font-family:'Nanum Square', sans-serif;
}

ul.footContact>li.linkList a{
	color: #fff;
	font-size :13px;
	font-weight: 700;
}

ul.footContact>li.linkList span{
	color: #bebebe;
	font-weight: 500;
	font-size :13px;
	margin: 0 10px;
}

ul.footContact>li.siteInfo {
	margin-bottom: 10px;
}

ul.footContact>li.siteInfo:last-child {
	margin-bottom: 0;
}

ul.footContact >li.siteInfo>span{
	font-size: 13px;
	font-family:'Nanum Square', sans-serif;
	font-weight: 500;
	color: #bebebe;
}




/* 푸터 끝  */











































main {
	position: relative;
	display: block;
	width: 100%;
	min-width: 1400px;
	height: auto;
	min-height: 500px; 
	background: #fff;
	/* -webkit-display: flow-root; */
}




h1 {
font-family:'Nanum Square', sans-serif;
font-size: 21px;
font-weight: 700;
color: #111111;
}




#address_wrap {
	display: none;
    height: 450px !important;
    position: absolute;
    top: 67px;
	top: 74px;
    right: 0;
    width: 100%;
    z-index: 999999;
/* 	border: 1px solid #ddd; */
	background: #fff;}
	

#address_wrap .closeImg{
    position: absolute;
    z-index: 11111111111111111111111111111111;
    top: -31px;
    right: 0;
    width: 30px;
	cursor: pointer;
}
	

#__daum__layer_1,#__daum__layer_2,#__daum__layer_3,#__daum__layer_4,#__daum__layer_5,#__daum__layer_6,#__daum__layer_7,#__daum__layer_8,#__daum__layer_9,#__daum__layer_10,#__daum__layer_11,#__daum__layer_12,#__daum__layer_13,#__daum__layer_14,#__daum__layer_15,#__daum__layer_16{
	border: 1px solid #ddd;}
	
	
	


#address_wrap2 {
	display: none;
    height: 450px !important;
    position: absolute;
    top: 67px;
	top: 74px;
    right: 0;
    width: 100%;
    z-index: 999999;
/* 	border: 1px solid #ddd; */
	background: #fff;}
	

#address_wrap2 .closeImg{
    position: absolute;
    z-index: 11111111111111111111111111111111;
    top: -31px;
    right: 0;
    width: 30px;
	cursor: pointer;
}
	
	
/* 	
.searchBar2 {
	position: relative;
	display: block;
	width: 250px;
	height: 40px;
	background: #fff;
	border: 1px solid #ddd;
	box-sizing: border-box;
	border-radius: 3px;
	margin-top: 20px;
}

#search_btn {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	border: 0;
	cursor: pointer;
	background: transparent;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

#search_btn:after {
	display: block;
	width: 40px;
	height: 40px;
	background: url(/images/common/search.png)no-repeat center center;
	content: "";
	top: 0;
	left: 0;
	border-right: 1px solid #ddd;
}


 */

/* 글읽기 페이지 폰트*/
#con_panel .text.con {
	font-size: 14px;
	color: #6e6e6e;
	line-height: 20px;
	margin-top: -1px;
}
/* 글읽기 페이지 폰트 끝 */


/* 헤더 회원 메뉴 */
	
.sub_right_nav {
	position: relative;
	display: inline-block;
	margin-left: 5px;
	cursor: pointer;
	vertical-align: top;
}

.sub_right_nav_bar {
	display: inline-block;
	vertical-align: top;
	margin: 0 8px;
}

.sub_right_nav_point {
	display: inline-block;
	vertical-align: top;
	font-weight: 800;
	color: #23427e;
}

.sub_right_nav-member_info {
	position: fixed;
	display: none;
	z-index: 9999;
	background: rgba(0,0,0,0.5);
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.sub_right_nav-member_info .inner {
	position: relative;
	display: block;
	width: 1400px;
	margin: 0 auto;
}

.sub_right_nav-member_info .inner .infoDiv {
	position: relative;
	display: block;
	width: 320px;
	height: 335px;
	background: #fff;
	box-sizing: border-box;
	border-radius: 5px;
	float: right;
	margin-top: 120px;
}

.sub_right_nav-member_info .inner .infoDiv .top {
	position: relative;
	display: block;
	width: 100%;
	height: 50px;
	line-height: 49px;
	border-bottom: 1px solid #dddddd;
	box-sizing: border-box;
	font-size: 0;
}

.sub_right_nav-member_info .inner .infoDiv .top p {
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
	color: #a9a9a9;
	font-weight: 500;
}
.sub_right_nav-member_info .inner .infoDiv .top span.name {
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
	color: #333;
	font-weight: 500;
	margin-left: 7px;
}

.sub_right_nav-member_info .inner .infoDiv .top .profile {
    display: inline-block;
    font-size: 0;
    position: relative;
    width: 31px;
    height: 31px;
    overflow: hidden;
    cursor: pointer;
	vertical-align: middle;
	margin-left: 20px;
}

.sub_right_nav-member_info .inner .infoDiv .top .profile .Img {
    position: relative;
    width: 31px;
    height: 31px;
    overflow: hidden;
    border-radius: 100%;
	border: 1px solid #ddd;
	box-sizing: border-box;
	background: #ddd;
}

.sub_right_nav-member_info .inner .infoDiv .top .profile img {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    height: 100%;
}

.sub_right_nav-member_info .inner .infoDiv .top .member_info_closeBt {
	position: absolute;
	z-index: 1;
	right: 22px;
	top: 0;
	cursor: pointer;
}

.member_info_main {
	position: relative;
	display: block;
	width: 265px;
	height: auto;
	min-height: 1px;
	margin: 0 auto;
	font-size: 0;box-sizing: border-box;
	padding-top: 20px;
}
.member_info_main_a {
	position: relative;
	font-weight: 500;
	color: #333;
	font-size: 16px;
	display: block;
	width: 100%;
	height: 36px;
	line-height: 35px;
	box-sizing: border-box;
	border-bottom: 1px solid #ddd;
}
.member_info_main_a:hover {
	font-weight: 700;
}

.member_info_main_a:after {
	content: "";
	display: inline-block;
	position: absolute;
	right: 5px;
	top: 0;
	z-index: 2;
	width: 10px;
	height: 100%;
	background: url(/images/common/member_info_arrow.png) center center no-repeat;
}

.member_info_main_logout {
	display: block;
	width: 100%;
	height: 34px;
	line-height: 34px;
	text-align: center;
	background: #23427e;
	font-size: 14px;
	color: #fff;
	font-weight: 500;
	border-radius: 3px;
	margin-top: 22px;
	cursor: pointer;
}
.member_info_main_logout:hover {
	font-weight: 700;
}

/* 헤더 회원 메뉴 끝*/

.popup{ /* position:fixed; z-index:200000; top:0; left:0;  *//*background:rgba(0,0,0,0.7);*/}
.popup .row{ position:absolute;}
.popup .row ul{}
.popup .row ul li{}
.popup .row ul li a{ margin:2px 0;}
.popup .row ul li a img{ display:block; width:100%;}
.popup .row .bottom{ overflow:hidden; padding:10px 20px; background:rgba(0,0,0,0.5); width: 100%;}
.popup .row .bottom .check{ float:left; cursor:pointer;}
.popup .row .bottom .check span{ display:block; float:left; margin:3px 5px 0 0; width:15px; height:15px; border-radius:50%; background:#FFF;}
.popup .row .bottom .check span i{ display:block; text-align:center; line-height:20px; font-size:15px; color:#333;}
.popup .row .bottom .check p{ float:left; line-height:20px; font-size:15px; color:#FFF;}
.popup .row .bottom .check.on span{ background:#23427e; color:#FFF;}
/* .popup .row .bottom .check.on p{ color:#00cd3c;} */
.popup .row .bottom .xi-close{ display:block; float:right; line-height:20px; font-size:20px; color:#FFF; cursor:pointer; font-size:15px; font-style: normal; margin-left: 10px; font-weight: bold; border: 1px solid #fff; box-sizing: border-box; padding-left: 5px; padding-right: 5px;}

.popup_div {
}
.popup_div .row {
	background: #fff;
	position: absolute;
	z-index: 9999999999999;
	display: block;
}

.popup_div .row ul {
position: relative;
display: block;
width: 100%;
height: auto;
box-sizing: border-box;
padding: 5px;
background: #fff;
overflow: hidden;
overflow-y: auto;
border: 1px solid #ccc;
}

.popup_div .row img {
	max-width: 100%;
	height: auto !important
}

.popup .row .bottom {
box-sizing: border-box;
}






	